<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honestgaze">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Hardware features -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Launcher / Welcome screen -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login / Sign-up flow -->
        <activity android:name=".SelectRoleActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />

        <!-- Main menu -->
        <activity android:name=".MainMenuActivity" android:exported="true" />

        <!-- NEW: Student Menu -->
        <activity android:name=".StudentMenuActivity" android:exported="false" />

        <!-- NEW: History Screen -->
        <activity android:name=".HistoryActivity" android:exported="false" />

        <!-- NEW: Quiz Details Screen -->
        <activity android:name=".QuizDetailsActivity" android:exported="false" />

        <!-- NEW: Quiz Taking with Proctoring -->
        <activity
            android:name=".QuizTakingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Existing activities -->
        <activity android:name=".ActivityQuizDetails" android:exported="false" />
        <activity android:name=".SummaryScreen" android:exported="false" />
        <activity android:name=".CreateQuiz" android:exported="false" />
        <activity android:name=".ProctorMenu" android:exported="false" />
        <activity android:name=".SessionSummaryActivity" android:exported="false" />
        <activity
            android:name=".OngoingExamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ReplayViewerActivity" android:exported="false" />

<!--        &lt;!&ndash; Other activities &ndash;&gt;-->
<!--        <activity android:name=".ActivityVideoCall" android:exported="false" />-->
<!--        <activity android:name=".ActivitySummaryScreen" android:exported="false" />-->
<!--        <activity android:name=".ActivityRegister" android:exported="false" />-->
<!--        <activity android:name=".ActivitySelectRole" android:exported="false" />-->
<!--        <activity android:name=".ActivityWelcome" android:exported="false" />-->

    </application>

</manifest>