<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honestgaze">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Hardware features -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ActivityQuizDetails"
            android:exported="false" />
        <activity
            android:name=".SummaryScreen"
            android:exported="false" />
        <activity
            android:name=".CreateQuiz"
            android:exported="false" />
        <activity
            android:name=".ProctorMenu"
            android:exported="false" />
        <activity
            android:name=".SessionSummaryActivity"
            android:exported="false" />

        <!-- This is where the gaze-tracking will run -->
        <activity
            android:name=".OngoingExamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReplayViewerActivity"
            android:exported="false" />

        <!-- Main menu -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>